<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.AdminstratiorsMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.Adminstratiors">
    <id column="AdminID" jdbcType="INTEGER" property="adminid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
  </resultMap>
  <sql id="Base_Column_List">
    AdminID, username, password, telephone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adminstratiors
    where AdminID = #{adminid,jdbcType=INTEGER}
  </select>
  <select id="ShowAll" resultType="com.test.entity.Adminstratiors">
    select * from adminstratiors
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adminstratiors
    where AdminID = #{adminid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.entity.Adminstratiors">
    insert into adminstratiors (AdminID, username, password, 
      telephone)
    values (#{adminid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.Adminstratiors">
    insert into adminstratiors
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        AdminID,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.Adminstratiors">
    update adminstratiors
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
    </set>
    where AdminID = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.Adminstratiors">
    update adminstratiors
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR}
    where AdminID = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>