<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.WordMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.Word">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="meaning" jdbcType="VARCHAR" property="meaning" />
    <result column="part_of_speech" jdbcType="VARCHAR" property="partOfSpeech" />
    <result column="sentence" jdbcType="VARCHAR" property="sentence" />
    <result column="voice_url" jdbcType="VARCHAR" property="voiceUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, word, meaning, part_of_speech, sentence, voice_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cet6
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllWords" resultMap="BaseResultMap">
    select
  <include refid="Base_Column_List" />
    from cet6;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cet6
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.entity.Word">
    insert into cet6 (id, word, meaning,
      part_of_speech, sentence, voice_url
      )
    values (#{id,jdbcType=INTEGER}, #{word,jdbcType=VARCHAR}, #{meaning,jdbcType=VARCHAR}, 
      #{partOfSpeech,jdbcType=VARCHAR}, #{sentence,jdbcType=VARCHAR}, #{voiceUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.Word">
    insert into cet6
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="word != null">
        word,
      </if>
      <if test="meaning != null">
        meaning,
      </if>
      <if test="partOfSpeech != null">
        part_of_speech,
      </if>
      <if test="sentence != null">
        sentence,
      </if>
      <if test="voiceUrl != null">
        voice_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="word != null">
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="meaning != null">
        #{meaning,jdbcType=VARCHAR},
      </if>
      <if test="partOfSpeech != null">
        #{partOfSpeech,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null">
        #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="voiceUrl != null">
        #{voiceUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.Word">
    update cet6
    <set>
      <if test="word != null">
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="meaning != null">
        meaning = #{meaning,jdbcType=VARCHAR},
      </if>
      <if test="partOfSpeech != null">
        part_of_speech = #{partOfSpeech,jdbcType=VARCHAR},
      </if>
      <if test="sentence != null">
        sentence = #{sentence,jdbcType=VARCHAR},
      </if>
      <if test="voiceUrl != null">
        voice_url = #{voiceUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.Word">
    update cet6
    set word = #{word,jdbcType=VARCHAR},
      meaning = #{meaning,jdbcType=VARCHAR},
      part_of_speech = #{partOfSpeech,jdbcType=VARCHAR},
      sentence = #{sentence,jdbcType=VARCHAR},
      voice_url = #{voiceUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>